#port_facilities {
  marker-file: url("img/harbor-18.svg");
  marker-width: 14;
  marker-line-color: #fff;
  marker-line-width: 3;
  marker-fill-opacity: 1;
  marker-line-opacity: 1;
  marker-allow-overlap: true;
  
  [zoom>=4]{
    marker-width: 16;
    marker-line-width: 3;
  }

  [zoom>=5]{
    marker-width: 18;
    marker-line-width: 3;
  }

  [zoom>=6]{
    marker-width: 20;
  }
  
  [zoom>=7]{
    marker-width: 22;
  }
  
  [zoom>=8]{
    marker-width: 24;
  }
  
  [prtsize="Unknown"]{
    marker-fill: #999;
    }
  
  [prtsize="Very Small"]{
    marker-fill: #74a9cf;
    }
  
  [prtsize="Small"]{
    marker-fill: #3690c0;

    }
  
  [prtsize="Medium"]{
    marker-fill: #0570b0;
    }
  
  [prtsize="Large"]{
    marker-fill: #045a8d;
    }
  
   [prtsize="Huge"]{
    marker-fill: #023858;
    }
}