#airports{
  marker-file: url("img/airport-18.svg");
  marker-fill: #333;
  marker-line-color: #fff;
  marker-line-width: 3;
  marker-line-opacity: 1;
  marker-allow-overlap: true;
  
  [zoom>=6] {
    marker-file: url("img/airport-24.svg");
  }
  [zoom>=7] {
    marker-file: url("img/airport-24.svg");
  }
  [zoom>=8] {
    marker-file: url("img/airport-24.svg");
  }
}