#settlements{
  marker-file: url("img/building-12.svg");
  marker-height: 6;
  marker-fill: #662506;
  marker-fill-opacity: 0.9;
  marker-line-color: #fff;
  marker-line-width: 4;
  marker-line-opacity: 0.8;
  marker-allow-overlap: true;
  
  [zoom>=5]{
  marker-height: 8;
  }
  
  [zoom>=6]{
  marker-height: 10;
  }
  
  [zoom>=8]{
  marker-height: 12;
  }
}