.fires[CONFIDENCE > 50] {
  marker-width:0.25;
  marker-fill:#f45;
  marker-line-opacity: 0;
  marker-allow-overlap:true;
  marker-ignore-placement:true;
  marker-opacity: 0.5;
  [BRIGHTNESS > 400]{
    marker-opacity: 0.75;
  }
  [zoom>=5]{
    marker-width:0.25;
    }
  [zoom>=6]{
    marker-width:0.5;
    }
  [zoom>=7]{
    marker-width:0.75;
    }
  [zoom>=8]{
    marker-width:1;
    }
}