#absenteedensity {
  marker-width:0.5;
  marker-fill:#3f96df;
  marker-line-opacity:0;
  marker-allow-overlap:true;
  marker-ignore-placement:true;
  [zoom >= 9]{
    marker-width: 1;
  }
  [zoom >= 10]{
    marker-width: 2;
  }
}

