#glacial_lakes{
    line-color: #1e6585;
    line-width: 1;
    polygon-fill: #1e6585;
  
  [zoom>=2]{
    polygon-opacity: 0.5;
    line-opacity: 0.5;
    }
  
  [zoom>=5]{
    line-width: 2;
    }
  
  [zoom>=6]{
    polygon-opacity: 0.8;
    line-opacity: 0.8;
    }
  
  [zoom>=7]{
    line-width: 3;
    polygon-opacity: 1;
    }
}